extend layout
block content
  p
    | Simple way to wire up Node, Express, Jade & Stylus
    | Try it out
block sidebar
  .widget
    h1 Widget
    p
      | This is a widget.
      | Feel free to place your content here.
