doctype
html
  head
    title #{title} - Node Express
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Node Express
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Powered by Node with Express, Jade and Stylus
